---
import { LINE_URL } from "../config";
---

<a
  class="floating-line-widget"
  href={LINE_URL}
  target="_blank"
  rel="noopener noreferrer"
  aria-label="透過 LINE 聯絡我們"
>
  <span class="floating-line-widget__label">LINE</span>
  <span class="floating-line-widget__badge" aria-label="1 則 LINE 提醒">1</span>
</a>
